
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$topbar-height: 70px;
$sidebar-width: 250px;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$white:   #FFFFFF !default;

$agenda-primary: #9587cb !default;
$agenda-primary-hover: #8275ae !default;

$form-control-border-color: #ced4da;
$form-control-focus-border-color: #86b7fe;
$form-control-focus-box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);

$form-control-invalid-border-color: #dc3545;
$form-control-invalid-focus-border-color: #dc3545;
$form-control-invalid-focus-box-shadow: 0 0 0 .25rem rgba(220,53,69,.25);
