
@import "variaveis";

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

//AUTORAL
@import "components/scrollbar";
@import "components/sidebar-menu";
@import "components/white-space";

//PRIMEREACT
@import "vendors-extension/primereact/p-dialog";

//BOOTSTRAP
@import "vendors-extension/bootstrap/input-group";
@import "vendors-extension/bootstrap/invalid-feedback";
@import "vendors-extension/bootstrap/form-control";
